
body {
    background-color: #1b263b;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  #kartya1 {
    max-width: 1800px;
    margin: 100px auto auto auto;
  }
#osztalyokDiv{
    width: 300px;
    margin: 10px auto 10px auto;
}
table{
    background-color: white;
    float: center;
    margin-right: 500px;
}
table, td, tr{
    border-style: solid;
            border-width: 2px;
            border-collapse: collapse;
            font-size: 20px;
            border-color: #eceef1;
            background-color:  #ffffff;
}

td{
            padding: 5px;
            width:100px;
            text-align: center;
        }
a{
  text-decoration: none;
  color: black;
}
h1{
  color: white;
  text-align: center;
}
#vmi4{
  float: left;
}