body {
  background-color: #1b263b;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#kartya1 {
  width: 1000px;
  margin: 100px auto auto auto;
}

#tanarButton {
  margin-right: 60px;
  width: 300px;
}

#center {
  margin-left: auto;
  margin-right: auto;
}
#container {
  display: grid;
  gap: 10px;
  grid-template-columns: auto auto;
  justify-content: center;
}

#logopng {
  border-radius: 10px;
  height: 200px;
}
a {
  text-decoration: none;
}
h2 {
  text-align: center;
  margin: 50px;
}
#lista {
  width: 300px;
  margin-bottom: 20px;
}
h3 {
  padding-bottom: 20px;
}
