body {
  background-color: #1b263b;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#kartya1 {
  width: 1000px;
  margin: 100px auto auto auto;
}

#tanarButton{
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 200px;
}

#center {
  margin-left: auto;
  margin-right: auto;
  
}
#container{
  display: grid;
  gap: 10px;
  grid-template-columns: auto auto;
  justify-content: center;
}

#logopng {
  border-radius: 10px;
  height: 200px;
}
a{
  text-decoration: none;
}
h2{
  text-align: center;
  margin: 50px;
}